@import "tailwindcss";

html,
body,
#root {
    margin: 0;
    height: 100%;
}

@theme {
    --color-background: #121212;
    --color-on-background: #e5e5e5;

    --color-surface: #282828;
    --color-on-surface: #d1d1d1;

    --color-surface-2: #3f3f3f;

    --color-primary: #584bb0;
    --color-on-primary: #eae6ff;

    --color-accent: #3a35a5;
    --color-on-accent: #e0e0ff;

    --color-error: #f87171;
    --color-on-error: #1f1f1f;

    --color-disabled: #8b8b8b;
    --color-on-disabled: #3a3a3a;
}
